{%extends 'base.html'%}
{%load static%}
{%block style%}
    <link rel="stylesheet" href="{%static 'ad/ad.css'%}">
{%endblock%}

{%block content%}
    <div class="wrapper ad">
        <img src="{{ad.second_picture}}" alt="">
    </div>
    <div class="header_empl">
        <h5>{{ ad.header }}</h5>
    </div>
    <div class="news_text">
        <p style="text-align: justify">{{ ad.text }}</p>
    </div>
    <div class="card-body">
    {% if user %}
        <div class="comment-class">
            <form method="POST" class="header_empl">
                {% csrf_token %}
                <div class="add_comment">
                    <div class="comment_text">
                        {{form.comment}}
                    </div>
                    <div>
                        <button type="submit" class="button-86">Yorum Yap</button>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div><a href="{% url 'login' %}">Giriş Yap</a></div>
    {% endif %}
    <div class="header_empl">
        <h5>Yorumlar</h5>
    </div>
    <div class="">
        {% for com in comments %}
        <div class="user-comments">
            <h6>{{com.username.username}}</h6>
            <p class="">{{ com.comment }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}
