{%load static%}

{%block style%}
    <link rel="stylesheet" href="{%static 'registration/s.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
{%endblock%}

{% block content %}
    {% if form.errors %}
        <div class="error"><p>Kullanıcı adınız veya şifreniz hatalı</p>
    {% endif %}

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        <h3>Giriş Yap</h3>
        {% csrf_token %}
        <label for="username">Kullanıcı Adı</label>
        <div class="username">{{ form.username }}</div>
        <label for="password">Şifreniz</label>
        <div class="password">{{ form.password }}</div>
        <div><input class="button" value="Giriş" type="submit"></div>
        <div class="reg_user"><a href="{% url 'reg_user' %}">Üye Ol</a></div>
    </form>

{% endblock %}